body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.user-info {
    margin-top: 10px;
    font-weight: bold;
    color: #fff; /* Change color as needed */
}


header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
   
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 20px;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] { /* Added password input type here */
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background: #555;
}


